<h1>Welcome To The Workouts App<a href="<%= asset_path('IMG_8587') %>" target="_blank" style="color: inherit; text-decoration: none;">!</a></h1>
<%= link_to("Log In", login_path) %>
<%= link_to('Sign Up', signup_path) %>
