<div class="nav">
    <%= link_to('View Profile', user_path(current_user)) %>
    <%= link_to('Edit Profile', edit_user_registration_path) %>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
</div>